body {
    background-color: var(--semi-white);
    padding: 0;
    margin: 0;
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-title {
    width: 12.5rem;
    height: fit-content;
}

.auth-title h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.auth-title h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
}
