@import './auth-element.css';

.border .login-container {
    background-image: url(../../resources/login-photo.png);
    background-size: cover;
    background-position-x: -200px;
    background-position-y: center;
    height: 36.25rem;
    width: 75rem;
    display: flex;
    justify-content: end;
}

.login-container .login-section {
    height: 100%;
    width: 75%;
}

.login-section .login-content {
    border: var(--white) 5px solid;
    background-color: var(--white);
    width: 100%;
}

.login-content .parent-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.login-section .wave-section {
    margin-right: -1px;
    border: none;
}

.form-container .input-bar {
    width: 100%;
}

.form-container .form-content {
    width: 20rem;
}

.form-content .btn-element {
    gap: 3rem;
}

/*
 * Login's Responsiveness
 */

@media (max-width: 1200px) {
    .border .login-container {
        width: 61.875rem;
        height: 31.75rem;
    }

    .login-content .parent-form {
        gap: 1rem;
    }

    .form-container .form-content {
        width: 18rem;
    }
}

@media (max-width: 992px) {
    .border .login-container {
        width: 47.5rem;
        height: 25.25rem;
    }
    .form-container .form-content {
        width: 14rem;
    }
    .form-content .btn-element {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .input-icon i {
        font-size: 1.2rem;
    }
    .input-bar .login-form {
        height: 2.3rem;
    }
}

@media (max-width: 768px) {
    .border .login-container {
        width: 37rem;
    }
}

@media (max-width: 576px) {
    .border .login-container {
        justify-content: center;
        align-items: center;
        background-image: none;
        width: 25rem;
        box-shadow: none;
    }
    .login-section .login-content {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    .login-section .wave-section {
        display: none;
    }
    .login-content .form-container {
        z-index: 2;
    }

}
